:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  height: 2rem;
}

.nav-block {
  display: flex;
  gap: 1rem;
}
.container {
  padding: 0 2rem;
}
.logo-block {
  text-transform: uppercase;
  font-weight: 700;
}

.nav-menu {
  position: relative;
  height: 100%;
  width: 3.7rem;
  cursor: pointer;
}
.nav-menu::after {
  content: '';
  position: absolute;
  width: 3.7rem;
  height: 0.2rem;
  background-color: black;
  bottom: 25%;
  right: 0;
  transition: all .1s ease;
}
.nav-menu::before {
  content: '';
  position: absolute;
  width: 3.7rem;
  height: 0.2rem;
  background-color: black;
  top: 25%;
  right: 0;
  transition: all .1s ease;
}

.nav-menu:hover::before {
  transform: translateX(10%);
}
.nav-menu:hover::after {
  transform: translateX(-10%);
}
